Label {
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
}
.password-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    // margin: 25px 0;
    // padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;

    &__input > Input {
        border: none;
        outline: none;
        background: none;
        // font-size: 1.2rem;
        font-family: "Poppins", sans-serif;
        color: #555;

        &:hover {
            border: none;
            outline: none;
            background: none;
        }
    }
    &__lock,
    &__eye {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555;
    }

    &__eye:hover {
        cursor: pointer;
    }

    &__lock.focus,
    &__eye.focus {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #32be8f;
    }
}
